/* .footer {
    /* scroll-margin-top: 196px; */
/* height: 40vh; 
} */

.footer__contact {
    display: flex;
    height: 30%;
    background-color: #FAFAFA;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}


.footer__contact__text__heading {
    text-align: left;
}

.footer__contact__text__main {
    text-align: left;
}


.footer__contact__butt {
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    padding: 20px 30px;

}

.footer__info {
    /* height: 55%; */
    padding: 30px;
    background-color: #17213C;
}

.footer__socMedia {
    padding: 20px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* -----icons----- */

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* .fa {
    padding: 20px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 100%;
} */

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

/* -----footerinfo */

.footer__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info__ul {
    gap: 10px;
}

.info__li {
    display: flex;
    color: white;
    text-align: left;
}

.li__heading {
    text-align: left;
    margin-bottom: 15px;
}


.info__icon {
    display: flex;
    gap: 10px;
}

.info__ic {
    height: 30px;
    width: 30px;
    padding: auto;
    background-color: #fff;
    border-radius: 3px;
    opacity: 0.7;

}

@media (max-width: 610px) {
    .footer__info {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding: 30px;
    }

    .fa {
        padding: 15px;
        width: 40px;
    }
}

@media (max-width: 430px) {
    .footer {
        height: auto;
        margin-top: 30px;
    }

    .footer__contact {
        flex-direction: column;
        padding: 30px;
        gap: 30px;
    }

    .footer__contact__text__heading {
        text-align: center;
    }

    .footer__contact__text__main {
        margin-top: 10px;
        text-align: center;
    }

    .footer__info {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding: 30px;
    }

    .info__block {
        width: fit-content;
    }

    .footer__socMedia {
        flex-direction: column;
        margin: 10px;
        gap: 10px;
    }

    .fa {
        padding: 15px;
        width: 40px;
      }
} 