.values {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.values__intro {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.values__vernagir {
    text-align: center;
}

.values__mainText {
    text-align: center;
    color: var(--second-text-color);

}

.values__blocks {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.values__block__elem {
    width: 25%;
    min-width: 180px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 0px 5px #e1e1e1;
}

.values__elem__img {
    height: 30%;
    width: 30%;
    align-self: center;
}
.values__elem__vernagir {
    text-align: center;
}
.values__elem__mainText {
    text-align: center;
    color: var(--second-text-color);
}

@media (max-width: 610px) {
    .values__blocks{
            flex-wrap: wrap; 
    }
}



@media (max-width: 430px) {
    
    .values {
        width: 80%;
        margin: 0 auto;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        gap: 30px;
    }
    
    .values__intro {
        /* height: 40%; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 20px;
    }
    
    .values__vernagir {
        text-align: center;
    }
    
    .values__blocks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    
    .values__block__elem {
        width: 45%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0px 0px 5px #e1e1e1;
    }
    
    .values__elem__img {
        height: 30%;
        width: 30%;
        align-self: center;
    }
    
    .values__elem__mainText {
        width: 90%;
    }
}